<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ TodoList.name }}</h1>
        <p>
          <a href = "{% url 'todo_list_update' TodoList.id %}">Edit</a>
          <a href = "{% url 'todo_list_delete' TodoList.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task:</th>
              <th>Due Date:</th>
            </tr>
          </thead>
          <tbody>
            {% for Item in TodoList.items.all %}
              <tr>
                <td>
                  <a href = "{% url 'todo_item_update' Item.id %}">{{ Item.task }}</a>
                </td>
                <td>{{ Item.due_date|default_if_none:"No due date" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
